body > h1 {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 0.5em;
}